* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	font-family: 'Josefin Slab';
}

#wrap {
	width: 850px;
	height: 450px;
	display: block;
	overflow: auto;
	margin: auto;
	border: solid;
	position: absolute;
	overflow: auto;

	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#top {
	width: 100%;
	height: 40px;
	border-bottom: solid;
	background-color: grey;
}

#logo {
	display: inline;
	font-family: 'Cinzel';
	position: relative;
	top: 3px;
	left: 9px;
}

#menu {
	position: absolute;
	right : 0;
	display: inline;
	top: 11px;
}

#menu li {
	display: inline;
}

#bot {
	height: 410px;
	width: 100%;
	position: relative;
}

