<div class="map">
	<div id="lithHarborBanner" class="banner">
		<h1 class="bannerTitle">Lith Harbor</h1>
	</div>

	<h4>A small bustling town on the south shore of Victoria Island where adventurers from all over the world trade.</h4>

	<ul>
		<li><a ui-sref="game.beach">Beach</a></li>
		<li><a href="">Sora's Goodies</a></li>
		<li><a href="">Valentine's Armors and Weapons</a></li>
	</ul>
</div>

<style type="text/css">
	#lithHarborBanner {
		background-image: url('../../data/background5.jpg');
		background-position: 0% 75%;
	}

</style>