<div id="mainMap">
	<div class="banner" id="mainMapBanner">
		<h1 class="bannerTitle">Map</h1>
	</div>
	<h4>So many places to go and so little time!</h4>
	<ul>
		<li><a ui-sref="game.lithharbor">Lith Harbor</a></li>
		<li><a href="">Henessy</a></li>
		<li><a href="">Perion</a></li>
		<li><a href="">Kerning City</a></li>
		<li><a href="">Ellinia</a></li>
	</ul>
</div>

<style type="text/css">
	#mainMap li {
		list-style-type: none;
	}
	#mainMapBanner {
		background-image: url('../../data/background6.jpg');
		background-position: 0% 20%;
	}
</style>