<div id="nav" style="display: inline-block">	
	<div>
		<ul>
			<li>{{user.username}}</li>
			<li>Level: {{user.level}}</li>
			<li>HP: {{user.hp}}</li>
			<li>Energy: {{user.energy}}/100</li>
			<li>gold: {{user.gold}}</li>
			<li>Artifacts: </li>
		</ul>
	</div>

	<div>
		<ul>
			<li><a ui-sref="game.profile">Living Area</a></li>
			<li><a ui-sref="game.map">Map</a></li>
			<li><a href="">Guild</a></li>
		</ul>
	</div>
</div>

<div ui-view id="game" style="display: inline-block"></div>

<style type="text/css">
	#nav {
		display: inline-block;
		width: 100px;
		height: 100%;
		border-right: solid;
	}

	#game {
		display: inline-block;
		width: 500px;
		height: 100%;
		position: absolute;
		top: 0;
	}
</style>