<h2 id="profileTitle">{{user.username}}</h2>
<div class="inventoryBlock">
	<div>	
		<ul>
			<li><b>Level:</b> {{expToLevel()}}</li>
			<li><b>Hp:</b> {{user.combatstats.hp}}/{{user.maxhp}}</li>
			<li><b>Exp:</b> {{user.exp}}/{{getExpForNextLevel()}}</li>
			<li><b>Energy:</b> {{user.energy}}/100</li>
			<li><b>Reputation:</b> {{user.repuration}}</li>
			<li><b>Guild:</b> </li>
		</ul>
	</div>

	<div>
		<h3>Combat Stats</h3>
		<ul>
			<li><b>Agility:</b> {{user.combatstats.agility}}</li>
			<li><b>Strength:</b> {{user.combatstats.strength}}</li>
			<li><b>Intelligence:</b> {{user.combatstats.intelligence}}</li>
			<li><b>Power:</b> {{user.combatstats.power}}</li>
		</ul>
	</div>

	<div>
		<h3>PvP</h3>
		<ul>
			<li><b>Rank:</b> {{user.rank}}</li>
			<li><b>Win/Loss:</b> {{user.wins}}/{{user.losses}}</li>
			<li><b>Battles:</b> {{user.battles}}</li>
		</ul>
	</div>
</div>

<div class="inventoryBlock">
	<h3>Equips</h3>
	<ul>
		<li><b>Body:</b> </li>
		<li><b>Legs:</b> </li>
		<li><b>Feet:</b> </li>
		<li><b>Hands:</b> </li>
		<li><b>Head:</b> </li>
	</ul>
</div>

<div class="inventoryBlock">
	<h3>Skill Points: {{user.skillpoints}}</h3>
	<ul>
		<li>+power: </li>
		<li>+strength: </li>
		<li>+intelligence: </li>
		<li>+agility: </li>
	</ul>
</div>

<div>
	<p>Inventory</p>
</div>

<style type="text/css">
	#profileTitle {
		text-align: center;
		margin-top: 10px;
	}

	li {
		list-style-type: none;
		margin-bottom: 0px;
	}

	.inventoryBlock {
		display: inline-block;
		margin-left: 50px;

	}
</style>